---
layout: default
---
{% comment %}
This layout is used to by located.md to display all of documents in
the _location/ collection
{% endcomment %}

{% include breadcrumbs.html %}

<div class="container pure-g">
	<div class="pure-u-1">
		<div class="content">
			<div class="grid-layout">
				<div class="container pure-g location">
					<div class="pure-u-1 pure-u-md-1-3">
						<div class="card">
							<div class="card-header">
								{% if location.street_address and location.street_address != "" %}
								<p>{{ location.street_address | slice: 0, 80 }}</p>
								{% else %}
								<p></p>
								{% endif %}
								{% if location.city and location.city != "" %}
								<p>{{ location.city | slice: 0, 80 }}</p>
								{% else %}
								<p></p>
								{% endif %}
								{% if location.state and location.state != "" %}
								<p>{{ location.state | slice: 0, 80 }}</p>
								{% else %}
								<p></p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>